body{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

#output {
    margin-top: 10px;
    border: 2px solid plum;
}

#output div {
    border-bottom: 1px solid plum;
    padding: 15px;
    cursor: pointer;
}

#output div:hover {
    color: antiquewhite;
    font-size: 25px;
    background-color: hsl(300, 100%, 30%)
}

#output div:last-child {
    border: 0;
    margin: 0;
}

#input {
    font-size: 20px;
    height: 30px;
    width: 100%;
    max-width: 500px;
    padding-left: 10px;
}