body{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

#output {
  max-width: 500px;
    margin-top: 10px;
}

#output div {
    border: 1px solid plum;
    padding: 15px;
    cursor: pointer;
}

#output div:hover {
    color: antiquewhite;
    font-size: 25px;
    background-color: hsl(300, 100%, 30%)
}


#input {
    font-size: 20px;
    height: 30px;
    width: 300px;
    max-width: 500px;
    padding-left: 10px;
}